<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Consulta de CEP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Insira seu CEP</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input type="number" placeholder="Exemplo: 02022-050">

        </ion-input>
      </ion-item>
    </ion-card-content>

    <ion-button fill="outline">Consultar</ion-button>
  </ion-card>
</ion-content>
